


body{
    background-color: rgb(165, 152, 152);
    font-family:Arial, Helvetica, sans-serif;
}

/* Navbar */

.Logo{
    height: 70px;
}

.navbar{
    font-size: 20px;
}

/* Footer */

a{
    color: rgb(0, 0, 0);
}

.CF{
    padding: 2%;
    
}

.footer2 {
    background-color: #c5b19c;
    color: rgb(0, 0, 0);
}

.textoFooter{
    margin-bottom: 2%;
    margin-top: 2%;
}

.opcionesF{
    text-align: center;
}

.contacto{
    text-align: center;
    margin-bottom: 2%;
}

.LogoFoot{
    height: 150px;
    border-radius:5%;
}

#filaLogo{
    border-top: 1px solid rgb(83, 78, 66);
    margin-left: 2%;
    margin-right: 2%;
}

.redes{
    height: 50px;
    margin-left: 50%;
}

.redes2{
    height: 50px;
    margin-right: 50%;
}

.tituloFooter{
    padding-bottom: 4%;
}

.textoUnion{
    text-align: justify;
    padding-top: 5%;
}

/* PÁGINA INICIO */

/* Portada */

.tituloPortada{
    text-align: center;
    font-size: 40px;
}

.textoPie{
    margin-left: 10%;
    text-align: justify;
}

.Portada{
    text-align: justify;
    position: relative;
    z-index: 1;
}

.apartadoPortada{
    background-image: url('../img/amigosEspalda3.png');
    background-size: cover;
    position: relative;
    padding: 15%;
}

.fondo-opacoP {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(56, 56, 56, 0.5); /* Opacidad del fondo */
}

.contenidoPortada{
   /* background-color: rgba(255, 255, 255, 0.1);*/
    padding: 2%;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

/* Amistad Duradera */

.tituloAmistad{
    text-align: center;
    font-size: 50px;
}

.Amistad{
    text-align: justify;
    position: relative;
    z-index: 1;
}

.apartadoAmistad{
    background-image: url('../img/recorteAmigos3.png');
    background-size: cover;
    position: relative;
    padding: 2%;
}

.fondo-opacoAmigos {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(48, 48, 48, 0.6); /* Opacidad del fondo */
}

.contenidoAmistad{
    /*background-color: rgba(255, 255, 255, 0.7);*/
    padding: 2%;
    color: white;
    font-size: 20px;
}

#amistad{
    padding-bottom: 3%;
}

/* Tarjetas */

.card-text{
    text-align: justify;
}

/* Carrousel de fotos */

.carousel-inner{
    background-color: rgb(246, 216, 185);
}

.visually-hidden{
    color: black;
}

.container-fluid{
    color: black;
}

/* Eventos */

.tEventosPortada{
    font-size: 30px;
    text-align: center;
}

.infoEventosP{
    text-align:justify;
    font-size: 16px;
    margin-right: 10%;
    padding: 4%;
}

/* PÁGINA CONTACTO */

/* Sección de Acerca de */ 

.tituloAcerca{
    text-align: justify;
    color: white;
}

.Acerca{
    text-align: justify;
    position: relative;
    z-index: 1;
}

.apartadoAcerca{
    background-image: url('../img/recorteAmigos.png');
    background-size: cover;
    position: relative;
}

.fondo-opacoAcerca {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(113, 112, 112, 0.4); /* Opacidad del fondo */
}

.contenidoAcerca{
    padding: 2%;
    color: black;
    font-size: 20px;
}

/* Sobre nosotros */

.prueba{

   /* background: linear-gradient(90deg, rgb(66, 136, 9) 20%, rgb(134, 178, 47) 50%, rgb(207, 253, 115) 100%);*/
    padding: 2%; 
    background-color: white;
}

.prueba2{
    background: linear-gradient(90deg, rgb(60, 53, 53) 20%, rgb(121, 103, 103) 50%, rgb(163, 143, 143) 100%);
}

.subSecciones2{
    margin-top: 1%;
}

.fotoS{
    border-radius: 5%;
}

.infoS{
   /* background-color: rgba(0, 0, 0, 0.5);*/
    font-size: 16px;
    padding: 4%;
    margin-top: 8%;
    margin-right: 5%;
    text-align: justify;
}

.textoInfoNosotros{
    text-align: justify;
   
}

.tNosotros{
   text-align: justify;
}

.info2S{
     font-size: 16px;
     padding: 4%;
     margin-left: 8%;
      color:white;
 }

 .foto2S{
    border-radius: 5%;
}

/* Nuestras redes y contacto */

.tituloRedes{
    text-align: center;
}

.Redes{
    text-align: justify;
    position: relative;
    z-index: 1;
}

.apartadoRedes{
    background-image: url('../img/recorteMoviles2.png');
    background-size: cover;
    position: relative;
    padding: 2%;
}

.fondo-opacoRedes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 50, 50, 0.6); /* Opacidad del fondo */
}

.contenidoRedes{
    /*background-color: rgba(255, 255, 255, 0.7);*/
    padding: 2%;
    margin-left: 10%;
    margin-right: 10%;
    color: rgb(251, 251, 251);
    font-size: 20px;
}

/* Expliación de Instagram y Discord */

.prueba4{
   /* background: linear-gradient(90deg, rgb(60, 53, 53) 20%, rgb(121, 103, 103) 50%, rgb(163, 143, 143) 100%);*/
   background-color: rgb(213, 173, 134);
    padding: 2%; 
    color: rgb(224, 195, 158);
}

.tituloCuriosidades{
    text-align: center;
}

.subSeccionesRedes{
    margin-top: 1%;
}

.fotoR{
    border-radius: 5%;
}

.infoR{
   /* background-color: rgba(0, 0, 0, 0.5);*/
    color: rgb(153, 0, 0);
    font-size: 16px;
    padding: 4%;
    margin-top: 0%;
    margin-right: 5%;
}

.textoInfoR{
    text-align: justify;
    color: black;
}

.tRedes{
    font-size: 20px;
    color: black;
}

.prueba3{
    background-color: white;
    padding: 2%; 
}

.info2R{
     font-size: 16px;
     padding: 4%;
     margin-left: 8%;
     margin-top: 4%;
     background-color: rgba(145, 113, 89, 0.8);
 }

 .foto2R{
    border-radius: 5%;
}


/* PÁGINA SECCIONES */

/* Sección de Acerca de */ 

.tituloEventosSec{
    text-align: justify;
    color: white;
}

.EventosSec{
    text-align: justify;
    position: relative;
    z-index: 1;
}

.apartadoEventosSec{
    background-image: url('../img/Eventos.png');
    background-size: cover;
    position: relative;
}

.fondo-opacoEventosSec {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(113, 112, 112, 0.3); /* Opacidad del fondo */
}

.contenidoEventosSec{
    padding: 2%;
    color: black;
    font-size: 20px;
}

/* Desarrollo de las diferentes secciones */

.subSeccionesFriendzone{
     margin-top: 1%;
 }

 /* LIBROS */

.libros{
    background-color: rgb(246, 216, 185);
     padding: 2%; 
     color: rgb(0, 0, 0);
 }
 
 .fotoLibros{
     border-radius: 5%;
 }
 
 .infoLibros{
     font-size: 16px;
     padding: 4%;
     margin-top: 0%;
     margin-right: 5%;
 }
 
 .textoInfoLibros{
     text-align: justify;
     color: black;
 }
 
 .tLibros{
     font-size: 20px;
     color: black;
 }


 /* PELÍCULAS Y SERIES */
 
 .tPeliculas{
    font-size: 20px;
    color: black;
}

 .peliculas{
     background-color: white;
     padding: 2%; 
 }
 
 .infoPeliculas{
      font-size: 16px;
      padding: 10%;
      margin-left: 6%;
      margin-top: 6%;
      background-color: rgba(196, 160, 133, 0.8);
  }
 
  .fotoP{
     border-radius: 5%;
 }

 .textoInfoPeliculas{
    text-align: justify;
    margin-left: 4%;
    margin-right: 4%;
 }

 /* DEPORTES */

 .tituloDeporte{
    text-align: center;
    font-size: 40px;
}

.textoDeporte{
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
}

.Deporte{
    text-align: justify;
    position: relative;
    z-index: 1;
}

.apartadoDeporte{
    background-image: url('../img/deportesAmigos.jpeg');
    background-size: cover;
    position: relative;
    padding: 10%;
}

.fondo-opacoD {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(56, 56, 56, 0.6); /* Opacidad del fondo */
}

.contenidoDeporte{
   /* background-color: rgba(255, 255, 255, 0.1);*/
    padding: 2%;
    color: rgb(255, 255, 255);
    font-size: 20px;
}


 /* JUEGOS */

 .juegos{
    background-color: rgb(246, 216, 185);
     padding: 2%; 
     color: rgb(0, 0, 0);
 }
 
 .fotoJ{
     border-radius: 5%;
 }
 
 .infoJuegos{
     font-size: 16px;
     padding: 4%;
     margin-top: 5%;
     margin-right: 5%;
 }
 
 .textoJuegos{
     text-align: justify;
     color: black;
 }
 
 .tJuegos{
     font-size: 20px;
     color: black;
 }

 /* ARTE */

 .tituloArte{
    text-align: center;
    font-size: 40px;
}

.textoArte{
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
}

.Arte{
    text-align: justify;
    position: relative;
    z-index: 1;
}

.apartadoArte{
    background-image: url('../img/arteAmigos.avif');
    background-size: cover;
    position: relative;
    padding: 10%;
}

.fondo-opacoA {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(56, 56, 56, 0.6); /* Opacidad del fondo */
}

.contenidoArte{
   /* background-color: rgba(255, 255, 255, 0.1);*/
    padding: 2%;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

/* Titulo Eventos */

.Eventos{
    background: linear-gradient(90deg, rgb(60, 53, 53) 20%, rgb(121, 103, 103) 50%, rgb(163, 143, 143) 100%);
    text-align: center; /* Centrar el texto dentro del contenedor */
    padding: 1%; /* Agregar relleno al contenedor */
}

.tEventos{
    display: inline-block;
    font-size: 30px;
    color: white;
    margin-top: 2%;
}

/* Frase final */

.tituloGancho{
    text-align: center;
    font-size: 50px;
}

.Gancho{
    text-align: justify;
    position: relative;
    z-index: 1;
}

.apartadoGancho{
    background-image: url('../img/amigosMar3.png');
    background-size: cover;
    position: relative;
    padding: 2%;
}

.fondo-opacoGancho {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(48, 48, 48, 0.6); /* Opacidad del fondo */
}

.contenidoGancho{
    /*background-color: rgba(255, 255, 255, 0.7);*/
    padding: 2%;
    color: white;
    font-size: 20px;
}

/* Estilos de los botones de redes sociales */

.redesSociales {
    display: flex; /* Establece el contenedor como flexbox */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
}

.botonRedSocial {
    display: inline-block;
    width: 200px;
    height: 70px;
    margin-right: 40px;
    margin-left: 40px;
    background-size: contain; /* Ajustar la imagen dentro del contenedor */
    background-repeat: no-repeat; /* Evitar repetir la imagen */
    background-position: center; /* Centrar la imagen */
    transition: transform 0.3s ease;
}

/* Estilos para cada red social */
.instagram {
    background-image: url('../img/InstagramPalabra2.png'); /* Ruta a la imagen del botón de Facebook */
}

.discord {
    background-image: url('../img/DiscordPalabra.png'); /* Ruta a la imagen del botón de Twitter */
}


